
/* Hero-Section */
.div1 {
    font-family: var(--font-space-mono);
}

.navbar {
    position: absolute;
    left: 12%;
    padding: 1.4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 90;
  }

.logo{
    display: flex;
    color: var(--color-mediumslateblue-100);
    font-size: 0.7rem;
}
.logo img{
    height: 30px;
    width: 33px
}

.logoText{
    padding-left: 0.5rem;
}

.tabs{
    display: flex;
    font-size: 0.7rem;
    padding-left: 3.2rem;
}

.tab {
    margin-right: 3.2rem;
    font-weight: 500; 
    padding-bottom: 1rem; 
    justify-content: center;
    padding-top: 0.8rem;
}

.tab:hover {
    color: var(--color-blueviolet);
    cursor: pointer;
    border-bottom: 2px solid var(--color-mediumslateblue-100); 
}

.div1Content{
    position: absolute;
    margin-left: 15%;
    padding-left: 1.75rem;
    padding-top: 5.7rem;
    z-index: 20;
}

.hot{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    color: var(--color-salmon);
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.megaHeading{
    font-family: var(--font-space-mono);
    color: var(--color-mediumslateblue-100);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.07;
    letter-spacing: 6px;
}

.div1Text{
    margin-top: 10px;
    color: rgb(183, 183, 183);
    width: 48%;
    line-height: 2.4;
    font-size: 0.6rem;
}

.div1Buttons {
    margin-top: 10px;
    display: flex;
  }
  
.div1signUp {
    margin-right: 4px;
    padding: 8px 15px;
    background-color: var(--color-mediumslateblue-100);
    font-size: 1.1rem;
    border: none;
    border-radius: 14px;
    color: white;
    letter-spacing: -1px;
    font-family: var(--font-poppins);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    font-weight: lighter;
}
.div1signUp:hover {
    background-color: var(--color-salmon);
}

.div1LearnMore:hover {
    text-decoration: underline;
}

.div1LearnMore {
    font-size: 1.1rem;
    padding: 8px 15px;
    font-family: var(--font-poppins);
    cursor: pointer;
    color: var(--color-mediumslateblue-100);
}
  


.posterDiv {
    position: absolute;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.poster {
    background-color: black;
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    top: -26px;
    right: -110px; 
    transform: rotate(-19deg); 
    
  }
  
.poster img{
    height: 94vh;
}

/*Mobile Hero-Section */
@media only screen and (max-width: 768px) {
    .posterDiv {
      display: none;
    }
  
    .navbar {
        position: relative;
        left: 46%;
        transform: translateX(-50%);
        padding: 20px 0px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        z-index: 90;
        width: 100%;
      }
  
    .tabs {
      padding-left: 2rem;
    }
  
    .div1Content {
      margin-left: 0;
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 3rem;
      text-align: center;
      position: relative;
    }
    /* .hot{
        margin-top: 2rem;
    } */
  
    .div1Text {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .div1Buttons {
      justify-content: center;
      margin-top: 30px;
    }
  
    .div1LearnMore {
        margin-top: 5px;
    }
    .div1signUp{
        padding-top: 12px;
    }
  
    .tabs {
      padding-left: 2rem;
      justify-content: center;
    }
  
    .tab {
      margin-right: 2rem;
      font-size: 0.6rem;
      padding-bottom: 1rem;
      padding-top: 0.8rem;
    }
  }

/* WhoWeAre-Section */
.intro {
    position: absolute;
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 90vh;
    padding-bottom: 30px;
  }
  
  .tiltDiv {
    position: absolute;
    height: 55vh;
    width: 55vh;
    border: solid 4px #d6daff;
    transform: rotate(-15deg);
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.5);
    top: -10px;
  }
  
  .cards {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    position: relative;
    z-index: 10;
    padding-bottom: 40px;
  }
  
  .card {
    height: auto;
    min-height: auto;
    padding-bottom: 40px;
    width: 43vh;
    background-color: white;
    border-radius: 10px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .cardImage img {
    height: 12vh;
  }
  
  .cardContent {
    margin-top: 10px;
    font-family: var(--font-space-mono);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .cardHead {
    font-size: 1.1rem;
  }
  
  .cardText {
    margin-top: 8px;
    font-size: 0.65rem;
    color: #acacac;
  }
  
  .learnMore {
    padding: 10px 18px;
    background-color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    color: var(--color-mediumslateblue-100);
    font-family: var(--font-poppins);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-weight: 100;
    width: fit-content;
  }
  
  .learnMore:hover {
    background-color: var(--color-mediumslateblue-100);
    color: white;
  }
  
  @media only screen and (max-width: 768px) {
    .intro {
        position: relative;
        margin-top: calc(10vh + 30px);
    }
  
    .tiltDiv {
      display: none;
    }
  
    .cards {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .card {
      width: 70%;
      margin-bottom: 20px;
    }
  }
  
  
/*Mobile WhoWeAre-Section */

/* Events-Section */



.event {
    position: absolute;
    margin-top: 196vh;
    width: 100%;
    display: flex;
}

.eventDisplay{
    border-radius: 0px 30px 30px 0px;
    background: #FFD600;
    display: flex;
    width: 60%;
    padding: 40px 10px;
    
}



.eventContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 22px;
    padding-bottom: 52px;
}
.hot2 {
    
    color: #FF6B71;
    font-family: var(--font-poppins);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 22px;
}  
.megaHeading2{
    font-family: var(--font-space-mono);
    color: var(--color-mediumslateblue-100);
    font-size: 2.1rem;
    text-transform: uppercase;
    line-height: 1.07;
    letter-spacing: 7px;
    padding-bottom: 18px;
}
.date{
    font-family: var(--font-poppins);
    padding-bottom: 6px;
    font-size: 1.2rem;
}

.eventHead {
   position: absolute;
   margin-top: 174vh;
   width: 100%;
   
}
.eventTitle{
    font-family: var(--font-space-mono);
    color: var(--color-mediumslateblue-100);
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.activity{
    font-family: var(--font-space-mono);
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1.6;
    font-weight: bold;
}



.eventPoster img{
    height: 75vh;
    margin-left: 8rem;
}

.div3Buttons {
    margin-top: 20px;
    display: flex;
  }
  
.div3signUp {
    margin-right: 4px;
    padding: 12px 20px;
    background-color: var(--color-salmon);
    font-size: 1.1rem;
    border: none;
    border-radius: 14px;
    color: white;
    letter-spacing: -1px;
    font-family: var(--font-poppins);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    font-weight: lighter;
}
.div3signUp:hover {
    background-color: var(--color-blueviolet);
}

.div3LearnMore:hover {
    text-decoration: underline;
}

.div3LearnMore {
    font-size: 1.1rem;
    padding: 12px 20px;
    font-family: var(--font-poppins);
    cursor: pointer;
}


.eventCards {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

.eventCard {
    width: 13.5rem;
    height: fit-content;
  }
  
  .eventImage {
    width: 100%;
    height: 5rem;
  }
  
  .eventImage img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  
  
  
  .eventBar {
    display: flex;
    justify-content: space-between;
    background-color: #7BA9D9;
    align-content: center;
    padding: 8px 6px;
    color: white;
    font-family: var(--font-space-mono);
    font-size: 0.6rem;
  }
  .eventBar2 {
    display: flex;
    justify-content: space-between;
    background-color: #201F32;
    align-content: center;
    color: white;
    padding: 8px 6px;
    font-family: var(--font-space-mono);
    font-size: 0.6rem;
  }
  
  .cardContent2{
    margin-top: 5px;
    font-family: var(--font-poppins);
  }

  .cardHead2 {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .cardText2 {
    font-size: 0.6rem;
    margin-top: 5px;
    color: rgb(183, 183, 183);
    font-family: var(--font-space-mono);
  }
  
  .div3LearnMore2 {
    margin-top: 8px;
    color: var(--color-mediumslateblue-100);
    cursor: pointer;
    font-size: 0.9rem;
    font-family: var(--font-poppins);
    margin-bottom: 10px;
  }
  .div3LearnMore2:hover{
    text-decoration: underline;
    color: black;
  }

  .eventMore {
    margin-top: 20%;
    padding-left: 30px;
  }
  
  .more {
    padding: 8px 12px;
    height: fit-content;
    background-color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    color: var(--color-mediumslateblue-100);
    font-family: var(--font-poppins);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-weight: 100;
    width: fit-content;
  }
  .more:hover{
    background-color: var(--color-mediumslateblue-100);
    color: white;
  }
  
  
  /*Mobile Events-Section */
  @media only screen and (max-width: 768px) {
    .eventHead,
    .event {
      display: none;
    }
  }

  .sponsors {
    position: absolute;
    margin-top: 303vh;
    left: 25%;
    height: 70vh;
    flex: 100px;
  }
  
  .sponsors img {
    height: 60vh;
  }
  
  @media only screen and (max-width: 768px) {
    .sponsors {
        position: relative;
        margin-top: calc(10vh  + 30px);
      left: 0;
      height: auto;
      text-align: center;
      padding: 36px 36px;
    }
  
    .sponsors img {
      height: auto;
      max-height: 60vh;
      width: auto;
      max-width: 100%;
    }
  }
  

.contactUs {
    position: absolute;
    margin-top: 372vh;
    height: 80vh;
    background-color: black;
    width: 100%;
    font-family: var(--font-space-mono);
  }
  
  .contactContent {
    position: absolute;
    left: 28%;
  }
  
  .contactHead {
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .contactQR img {
    height: 50vh;
    margin-bottom: 15px;
  }
  .copyright{
    color: white;
    }
    .email{
        color: white;
    }
  
  @media only screen and (max-width: 768px) {
    .contactContent {
      position: static;
      text-align: center;
      margin-top: 0;
      padding: 0px 10px;
    }
  
    .contactHead {
      font-size: 1.2rem;
      margin-top: 30px;
      margin-bottom: 10px;
      padding-top: 20px;
    }
  
    .contactQR img {
      height: auto;
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .contactUs {
        position: relative;
        margin-top: calc(10vh  + 30px);
      height: auto;
      padding-bottom: 40px;
    }
  }
  