.div1 {
    height: 100vh;
    color: var(--color-mediumslateblue-100);
    font-family: var(--font-space-mono);
}


/* Hero-Section */


/* WhoWeAre-Section */


/* Events-Section */


/* Sponsors-Section */


/* ContactUs-Section */
