.contactUs {
    position: absolute;
    margin-top: 10vh;
    height: 80vh;
    background-color: black;
    width: 100%;
    font-family: var(--font-space-mono);
  }
  
  .contactContent {
    position: absolute;
    left: 28%;
  }
  
  .contactHead {
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .contactQR img {
    height: 50vh;
    margin-bottom: 15px;
  }
  .copyright{
    color: white;
    }
    .email{
        color: white;
    }
  
  @media only screen and (max-width: 768px) {
    .contactContent {
      position: static;
      text-align: center;
      margin-top: 0;
      padding: 0px 10px;
    }
  
    .contactHead {
      font-size: 0.7rem;
      margin-top: 30px;
      margin-bottom: 10px;
      padding-top: 20px;
    }
    .contactQR{
        padding: 5px 30px;
    }
  
    .contactQR img {
      height: auto;
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .contactUs {
        position: relative;
        margin-top: calc(10vh  + 30px);
      height: auto;
      padding-bottom: 40px;
    }
    .copyright{
        font-size: 0.7rem;
        }
    .email{
        font-size: 0.7rem;
    }
  }
