.eventCards {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

.eventCard {
    width: 13.5rem;
    height: fit-content;
  }
  
  .eventImage {
    width: 100%;
    height: 5rem;
  }
  
  .eventImage img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  
  
  
  .eventBar {
    display: flex;
    justify-content: space-between;
    background-color: #7BA9D9;
    align-content: center;
    padding: 8px 6px;
    color: white;
    font-family: var(--font-space-mono);
    font-size: 0.6rem;
  }
  .eventBar2 {
    display: flex;
    justify-content: space-between;
    background-color: #201F32;
    align-content: center;
    color: white;
    padding: 8px 6px;
    font-family: var(--font-space-mono);
    font-size: 0.6rem;
  }
  
  .cardContent2{
    margin-top: 5px;
    font-family: var(--font-poppins);
  }

  .cardHead2 {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .cardText2 {
    font-size: 0.6rem;
    margin-top: 5px;
    color: rgb(183, 183, 183);
    font-family: var(--font-space-mono);
  }
  
  .div3LearnMore2 {
    margin-top: 8px;
    color: var(--color-mediumslateblue-100);
    cursor: pointer;
    font-size: 0.9rem;
    font-family: var(--font-poppins);
    margin-bottom: 10px;
  }
  .div3LearnMore2:hover{
    text-decoration: underline;
    color: black;
  }

  .eventMore {
    margin-top: 20%;
    padding-left: 30px;
  }
  
  .more {
    padding: 8px 12px;
    height: fit-content;
    background-color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    color: var(--color-mediumslateblue-100);
    font-family: var(--font-poppins);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-weight: 100;
    width: fit-content;
  }
  .more:hover{
    background-color: var(--color-mediumslateblue-100);
    color: white;
  }
  
  
  /*Mobile Events-Section */
  @media only screen and (max-width: 768px) {
    .eventHead,
    .event {
      display: none;
    }
  }

  .sponsors {
    position: absolute;
    margin-top: 303vh;
    left: 25%;
    height: 70vh;
    flex: 100px;
  }
  
  .sponsors img {
    height: 60vh;
  }
  
  @media only screen and (max-width: 768px) {
    .sponsors {
        position: relative;
        margin-top: calc(10vh  + 30px);
      left: 0;
      height: auto;
      text-align: center;
      padding: 36px 36px;
    }
  
    .sponsors img {
      height: auto;
      max-height: 60vh;
      width: auto;
      max-width: 100%;
    }
  }
  

.contactUs {
    position: absolute;
    margin-top: 372vh;
    height: 80vh;
    background-color: black;
    width: 100%;
    font-family: var(--font-space-mono);
  }
  
  .contactContent {
    position: absolute;
    left: 28%;
  }
  
  .contactHead {
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .contactQR img {
    height: 50vh;
    margin-bottom: 15px;
  }
  .copyright{
    color: white;
    }
    .email{
        color: white;
    }
  
  @media only screen and (max-width: 768px) {
    .contactContent {
      position: static;
      text-align: center;
      margin-top: 0;
      padding: 0px 10px;
    }
  
    .contactHead {
      font-size: 0.7rem;
      margin-top: 30px;
      margin-bottom: 10px;
      padding-top: 20px;
    }
    .contactQR{
        padding: 5px 30px;
    }
  
    .contactQR img {
      height: auto;
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .contactUs {
        position: relative;
        margin-top: calc(10vh  + 30px);
      height: auto;
      padding-bottom: 40px;
    }
    .copyright{
        font-size: 0.7rem;
        }
    .email{
        font-size: 0.7rem;
    }
  }

  