/* @import url("https://fonts.googleapis.com/css2?family=FZLanTingHeiS-R-GB:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Source+Han+Sans+SC+VF:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-fzlantingheis-r-gb: FZLanTingHeiS-R-GB;
  --font-space-mono: "Space Mono";
  --font-source-han-sans-sc-vf: "Source Han Sans SC VF";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-3xl: 1.38rem;
  --font-size-21xl: 2.5rem;
  --font-size-base: 1rem;
  --font-size-11xl: 1.88rem;
  --font-size-7xl: 1.63rem;
  --font-size-9xl: 1.75rem;
  --font-size-55xl: 4.63rem;
  --font-size-sm: 0.88rem;
  --font-size-lg: 1.13rem;
  --font-size-17xl: 2.25rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.28);
  --color-gainsboro-300: rgba(217, 217, 217, 0.12);
  --color-gray-100: #888;
  --color-gray-200: #838383;
  --color-gray-300: #201f32;
  --color-gold-100: #ffd000;
  --color-mediumslateblue-100: #7f5edd;
  --color-mediumslateblue-200: rgba(127, 94, 221, 0);
  --color-lightskyblue: #7ba9d9;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: rgba(240, 240, 240, 0.8);
  --color-darkgray: #9b9b9b;
  --color-slateblue: #7f5ed8;
  --color-salmon: #ff6b71;
  --color-blueviolet: #9747ff;
  --color-dimgray: #626161;

  /* border radiuses */
  --br-31xl: 50px;
  --br-2xl: 21px;
  --br-25xl: 44px;
  --br-2xs: 11px;
  --br-6xl: 25px;
  --br-41xl: 60px;
  --br-131xl: 150px;
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-21xl: 40px;
  --br-8xs: 5px;
}
